<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Quản lý cửa hàng</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Mặt hàng
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Views/v_DanhSachMatHang.cshtml">Danh sách mặt hàng</a>
                        <a class="dropdown-item" href="~/Views/v_ThemMatHang.cshtml">Thêm mặt hàng</a>
                        <a class="dropdown-item" href="~/Views/v_SuaMatHang.cshtml">Sửa mặt hàng</a>
                        <a class="dropdown-item" href="~/Views/v_XoaMatHang.cshtml">Xóa mặt hàng</a>
                    </div>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Loại hàng
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Views/v_DanhSachLoaiHang.cshtml">Danh sách loại hàng</a>
                        <a class="dropdown-item" href="~/Views/v_ThemLoaiHang.cshtml">Thêm loại hàng</a>
                        <a class="dropdown-item" href="~/Views/v_SuaLoaiHang.cshtml">Sửa loại hàng</a>
                        <a class="dropdown-item" href="~/Views/v_XoaLoaiHang.cshtml">Xóa loại hàng</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Hóa đơn nhập hàng
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Views/v_DanhSachHoaDonNhapHang.cshtml">Danh sách Hóa đơn nhập hàng</a>
                        <a class="dropdown-item" href="~/Views/v_ThemHoaDonNhapHang.cshtml">Thêm Hóa đơn nhập hàng</a>
                        <a class="dropdown-item" href="~/Views/v_SuaHoaDonNhapHang.cshtml">Sửa Hóa đơn nhập hàng</a>
                        <a class="dropdown-item" href="~/Views/v_XoaHoaDonNhapHang.cshtml">Xóa Hóa đơn nhập hàng</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Hóa đơn bán hàng
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Views/v_DanhSachHoaDonBanHang.cshtml">Danh sách Hóa đơn bán hàng</a>
                        <a class="dropdown-item" href="~/Views/v_ThemHoaDonBanHang.cshtml">Thêm Hóa đơn bán hàng</a>
                        <a class="dropdown-item" href="~/Views/v_SuaMatHang.cshtml">Sửa Hóa đơn bán hàng</a>
                        <a class="dropdown-item" href="~/Views/v_XoaMatHang.cshtml">Xóa Hóa đơn bán hàng</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Views/v_ThongKe.cshtml">Thống kê</a>
                </li>

            </ul>
        </nav>

        
    </div>
    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
