@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = "~/Views/_Layout.cshtml";
    Page.Title = "Danh sách loại hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();
    List<LoaiHang> dsLH = new List<LoaiHang>();
    List<LoaiHang> result = new List<LoaiHang>();


    if (Request["keyword"] != null && Request["search_type"] != null)
    {
        dsLH = c_LoaiHang.TimKiemLoaiHang(Request["keyword"], Request["search_type"]);
    }
    else
    {
        dsLH = c_LoaiHang.getDanhSachLoaiHang();
    }
}

<div class="container-fluid">

    <div class="row justify-content-center py-5">
        <form class="form-inline" action="~/Views/v_DanhSachLoaiHang.cshtml" method="get">
            <div class="form-group mx-2">
                <label for="keyword">Nhập từ khóa tìm kiếm: </label>
                <input type="text" name="keyword" class="form-control" placeholder="Từ khóa">
            </div>
            <div class="form-group mx-2">
                <label for="search_type">Loại tìm kiếm: </label>
                <select name="search_type" class="form-control">
                    <option value="ten_loai_hang">Tên loại hàng</option>
                    <option value="ma_loai_hang">Mã loại hàng</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>

    

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Danh sách loại hàng</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên loại hàng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var lh in dsLH)
                        {
                            <tr>
                                <td>@lh.MA_LOAI_HANG</td>
                                <td>@lh.TEN_LOAI_HANG</td>
                                <td>
                                    <a class="btn btn-primary" href="~/Views/v_SuaLoaiHang.cshtml?id=@lh.MA_LOAI_HANG">Sửa</a>
                                    <a class="btn btn-danger" href="~/Views/v_XoaLoaiHang.cshtml?id=@lh.MA_LOAI_HANG">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
 
</div>

