@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = null;

    c_MatHang c_MatHang = new c_MatHang();
    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
