@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Thêm loại hàng";
    c_LoaiHang c_LoaiHang = new c_LoaiHang();
    c_MatHang c_MatHang = new c_MatHang();
    List<LoaiHang> dsLH = c_LoaiHang.getDanhSachLoaiHang();

    List<Message> msg = new List<Message>();

    if (IsPost)
    {
        msg = c_LoaiHang.themLoaiHang("0", Request["ten_loai_hang"]);

        if(msg.Count == 1 && msg[0].TYPE == "success")
        {
            Response.Redirect("~/Views/v_DanhSachLoaiHang.cshtml");
        }
    }
}
<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <h1>@Page.Title</h1>
            @{
                if (msg.Count > 0)
                {
                    foreach (var m in msg)
                    {
                        <div class="alert alert-@m.TYPE">@m.CONTENT</div>
                    }
                }
            }
            <form action="~/Views/v_ThemLoaiHang.cshtml" method="post">
                <input class="form-control mb-3" type="text" name="ten_loai_hang" placeholder="Tên loại hàng" />
                <button class="btn btn-success" type="submit">@Page.Title</button>
            </form>
        </div>
    </div>
</div>
