@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities
@using DOANLTHDT_1988216.Functions

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Xóa mặt hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();

    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();

    // Khởi tạo các biến cần thiết
    List<LoaiHang> dsLH = new List<LoaiHang>();
    MatHang currentMH = null;

    // Message lưu kết quả thông báo trả về
    List<Message> msg = new List<Message>();

    if (!String.IsNullOrEmpty(Request["id"]))
    {
        dsLH = c_LoaiHang.getDanhSachLoaiHang();
        if (!int.TryParse(Request["id"], out int r))
        {
            msg.Add(new Message("warning", String.Format("{0} {1} {2}", Constants.MA, Constants.MAT_HANG, Constants.KHONG_HOP_LE)));
        }
        else
        {
            currentMH = c_MatHang.getMatHangById(Request["id"]);
        }

        if (currentMH == null)
        {
            msg.Add(new Message("warning", String.Format("{0} {1} {2}", Constants.KHONG_TIM_THAY_MAT_HANG, Constants.DE, Constants.XOA)));
        }
        else
        {
            msg.Add(new Message("warning", String.Format("{0} {1} <b>{2}</b> này?", Constants.BAN_CO_THUC_SU_MUON, Constants.XOA, currentMH.TEN_MAT_HANG)));
        }


        // Nếu submit dữ liệu
        if (IsPost)
        {
            msg = c_MatHang.xoaMatHang(Request["id"]);

            if (msg.Count == 1 && msg[0].TYPE == "success")
            {
                Response.Redirect("~/Views/v_DanhSachMatHang.cshtml");
            }
        }
    }
    else
    {
        msg.Add(new Message("info", String.Format("{0} {1} {2} {3}",
        Constants.VUI_LONG_CHON,
        Constants.MAT_HANG,
        Constants.DE,
        Constants.XOA)));
    }
}

<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <h1>Xóa mặt hàng</h1>

            @{
                if (msg.Count > 0)
                {
                    foreach (var m in msg)
                    {
                        <div class="alert alert-@m.TYPE">@Html.Raw(m.CONTENT)</div>
                    }
                }
            }

            @{ if (currentMH != null)
                {
                    <form action="~/Views/v_XoaMatHang.cshtml?id=@currentMH.MA_MAT_HANG" method="post">
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </form>
                }}
        </div>
    </div>
</div>