@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Xóa loại hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();

    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();

    // Khởi tạo các biến cần thiết
    List<LoaiHang> dsLH = new List<LoaiHang>();
    LoaiHang currentLH = null;
    string message = "";

    if (!String.IsNullOrEmpty(Request["id"]))
    {
        currentLH = c_LoaiHang.getLoaiHangById(Request["id"]);

        if (currentLH == null)
        { message = "Không tìm thấy loại hàng này để xóa"; }
        else
        {
            message = "Bạn có thực sự muốn xóa loại hàng <b>" + currentLH.TEN_LOAI_HANG + "</b>";
        }


        // Nếu submit dữ liệu
        if (IsPost)
        {
            if (c_LoaiHang.xoaLoaiHang(Request["id"]))
            {
                message = "Xóa thành công";
                Response.Redirect("~/Views/v_DanhSachLoaiHang.cshtml");
            }
            else
            {
                message = "Xóa THẤT BẠI";
            }
        }
    }
    else
    {
        message = "Vui lòng chọn loại hàng cần xóa";
    }
}

<div>
    @{ if (currentLH != null)
        {
            <form action="~/Views/v_XoaLoaiHang.cshtml?id=@currentLH.MA_LOAI_HANG" method="post">
                <button class="btn btn-primary" type="submit">Xóa</button>
            </form>
        }}
    @{
        if (!String.IsNullOrEmpty(message))
        {
            <div class="alert alert-info">@Html.Raw(message)</div>
        }
    }
</div>
