@using DOANLTHDT_1988216.Controllers
@using DOANLTHDT_1988216.Entities
@using DOANLTHDT_1988216.Functions

@{
    Layout = "_Layout.cshtml";
    Page.Title = "Xóa loại hàng";

    c_MatHang c_MatHang = new c_MatHang();
    c_LoaiHang c_LoaiHang = new c_LoaiHang();

    List<MatHang> dsMH = new List<MatHang>();
    List<MatHang> result = new List<MatHang>();

    // Khởi tạo các biến cần thiết
    List<LoaiHang> dsLH = new List<LoaiHang>();
    List<MatHang> dsMHThuocLH = new List<MatHang>();
    LoaiHang currentLH = null;

    // Message lưu kết quả thông báo trả về
    List<Message> msg = new List<Message>();

    if (!String.IsNullOrEmpty(Request["id"]))
    {

        if (!int.TryParse(Request["id"], out int r))
        {
            msg.Add(new Message("warning", String.Format("{0} {1} {2}", Constants.MA, Constants.LOAI_HANG, Constants.KHONG_HOP_LE)));
        }
        else
        {
            currentLH = c_LoaiHang.getLoaiHangById(Request["id"]);
            dsMHThuocLH = c_MatHang.getListMatHangThuocLoaiHang(Request["id"]);
        }

        if (currentLH == null)
        {
            msg.Add(new Message("warning", String.Format("{0} {1} {2}", Constants.KHONG_TIM_THAY_LOAI_HANG, Constants.DE, Constants.XOA)));
        }
        else
        {
            if(dsMHThuocLH.Count > 0)
            {
                msg.Add(new Message("danger",
                    String.Format("Đã tìm thấy <b>{0} mặt hàng</b> thuộc loại hàng <b>{1}</b>. Khi xóa loại hàng này đồng nghĩa với việc đưa các sản phẩm này về loại <b>chưa phân loại</b>. Bạn có muốn thực hiện thao tác XÓA?",
                    dsMHThuocLH.Count, currentLH.TEN_LOAI_HANG)));
            }
            else
            {
                msg.Add(new Message("warning", String.Format("{0} {1} {2} <b>{3}</b> này?", Constants.BAN_CO_THUC_SU_MUON, Constants.XOA, Constants.LOAI_HANG, currentLH.TEN_LOAI_HANG)));
            }
        }


        // Nếu submit dữ liệu
        if (IsPost)
        {
            msg = c_LoaiHang.xoaLoaiHang(Request["id"]);

            if (msg.Count == 1 && msg[0].TYPE == "success")
            {
                Response.Redirect("~/Views/v_DanhSachLoaiHang.cshtml");
            }
        }
    }
    else
    {
        msg.Add(new Message("info", String.Format("{0} {1} {2} {3}",
         Constants.VUI_LONG_CHON,
         Constants.LOAI_HANG,
         Constants.DE,
         Constants.XOA)));
    }
}

<div class="container">
    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <h1>@Page.Title</h1>

            @{
                if (msg.Count > 0)
                {
                    foreach (var m in msg)
                    {
                        <div class="alert alert-@m.TYPE">@Html.Raw(m.CONTENT)</div>
                    }
                }
            }

            @{ if (currentLH != null)
                {
                    <form action="~/Views/v_XoaLoaiHang.cshtml?id=@currentLH.MA_LOAI_HANG" method="post">
                        <button class="btn btn-danger" type="submit">@Page.Title</button>
                    </form>
                }}
        </div>
    </div>
</div>